.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.display {
  width: 300px;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.btnn {
  padding: 10px;
  margin: 5px;
  background-color: #c9c0e0;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnn:hover {
  background-color: #a9a0c0;
}

.res {
  background-color: darkgreen;
  width: 130px;
  height: 60px;
  margin: 5px;
  font-size: 18px;
  color: azure;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.res:hover {
  background-color: green;
}
